@model DiziFilmSatis.Models.Entity.Tbl_Hareket
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3 style="color:cadetblue;">Dizi - Film Satış Sayfası</h3>
</div>
<form method="post" class="form-group">
    <div style="margin-top:20px;">
        <label>Üye İsim:</label>
        @Html.DropDownListFor(x=>x.Tbl_Uye.Id, (List<SelectListItem>)ViewBag.uye, "Üye Şeçiniz", new {@class="form-control",@required="required"})
    </div>
    <div style="margin-top:20px;">
        <label>Dizi-Film Adı:</label>
        @Html.DropDownListFor(x=>x.Tbl_Filmdizi.Id, (List<SelectListItem>)ViewBag.urun,"Dizi-Film Seçiniz", new {@class="form-control",@required="required"})
    </div>
    <div style="margin-top:20px;">
        <label>Personel İsim:</label>
        @Html.DropDownListFor(x=>x.Tbl_Personel.Id, (List<SelectListItem>)ViewBag.per,"Personel Seçiniz", new {@class="form-control",@required="required"})
    </div>
    <div style="margin-top:20px;">
        <label>Alış Tarih:</label>
        <input type="text" name="Alistarihi" value="@DateTime.Now.ToShortDateString()" class="form-control" readonly="readonly"/>
    </div>
    <div style="margin-top:20px;">
        <label>İade Tarihi:</label>
        <input type="text" name="Iadetarihi" value="@DateTime.Now.AddDays(1).ToShortDateString()" class="form-control" readonly="readonly"/>
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-group" style="background-color:purple; color:white;">Ödünç Ver</button>
    </div>
</form>
