@using DiziFilmSatis.Models.Entity
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-striped" style="margin-top:10px;">
    <tr style="background-color:rgb(252,178,22)">
        <th>Id</th>
        <th>Üye İsim</th>
        <th>Eser Adı</th>
        <th>Personel İsim</th>
        <th>Alış Tarihi</th>
        <th>İade Tarih</th>
        <th>Teslim Tarihi</th>
        <th>Durum</th>
    </tr>
    <tbody>
       
        @{ string durum = ""; }
        @foreach (var x in Model)
        {
            if(x.Teslimtarihi <= x.Iadetarihi)
            {
                durum = "Zamanında teslim edildi";
            }
            if(x.Teslimtarihi > x.Iadetarihi)
            {
                DateTime d1 = Convert.ToDateTime(x.Teslimtarihi);
                DateTime d2 = Convert.ToDateTime(x.Iadetarihi);
                TimeSpan fark = d1 - d2;
                durum = fark.TotalDays + " gün geç teslim edildi";
            }


            <tr>
                <td>@x.Id</td>
                <td>@x.Tbl_Uye.Ad @x.Tbl_Uye.Soyad</td>
                <td>@x.Tbl_Filmdizi.Ad</td>
                <td>@x.Tbl_Personel.Ad @x.Tbl_Personel.Soyad</td>
                <td>@Convert.ToDateTime(x.Alistarihi).ToShortDateString()</td>
                <td>@Convert.ToDateTime(x.Iadetarihi).ToShortDateString()</td>
                <td>@Convert.ToDateTime(x.Teslimtarihi).ToShortDateString()</td>
                <td>@durum</td>
            </tr>
        }
    </tbody>
</table>

